.page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-image: radial-gradient(rgba(3, 188, 126, 0.107) 2%, transparent);
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Orbitron';
    /* background-color: antiquewhite; */
    /* transition: 100ms all ease-in-out; */
}

a:hover {
    color: #00ffff;
}

/* toolbar */
.toolbar {
    padding: 2%;
}

.toolbar a::before {
    content: '❮';
    margin: 1%;
}

/* analysis window */
.analyze-popup-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.752);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.analyze-popup-background .analyze-popup-window {
    width: 0;
    padding: 4%;
    border: 2px solid rgb(127, 255, 212);
    border-radius: 10px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: analyze-window-popup 500ms ease-in-out forwards;
}

.analyze-popup-background .analyze-popup-window span {
    color: white;
    font-family: 'Orbitron';
    font-size: 1.5vw;
    animation: loading 500ms ease-in infinite alternate;
}

@keyframes analyze-window-popup {
    to {
        width: 25%;
    }
}

@keyframes loading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* page body */
.page-body {
    flex-grow: 1;
    display: flex;
    /* background-color: aquamarine; */
}

.page-body .video-result-container,
.page-body .analysis-container {
    width: 50%;
    height: 100%;
    /* background-color: azure; */
}

.page-body .video-result-container {
    /* background-color:aquamarine; */
}

/* video container */
.video-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background-color: #00ffff; */
}

.video-container video {
    width: 70%;
    /* height: 100%; */
}

/* analysis container */
.analysis-container {
    padding: 2%;
    display: grid;
    grid-area: analysis;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* background-color: #ddd; */
}

.analysis-container .chart {
    width: 100%;
    height: 100%;
    padding: 4%;
    /* background-color: aquamarine; */
}

.analysis-container .chart canvas {
    width: 100%;
    /* background-image: linear-gradient(rgba(127, 255, 212, 0.334), transparent); */
}

/* result container */
.result-container {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 0 10% 10% 10%;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.result-container .chart {
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.result-container .final-result {
    margin-left: 20%;
    padding: 2%;
    color: white;
    font-family: 'Orbitron';
    /* background-color: bisque; */
}

.result-container .final-result.FAKE {
    background-image: linear-gradient(90deg, rgba(255, 0, 0, 0.499), transparent);
    border-left: 8px solid red;
    /* border-left: 2px solid red; */
}

.result-container .final-result.REAL {
    background-image: linear-gradient(90deg, rgba(0, 255, 76, 0.499), transparent);
    /* background-color: rgba(0, 255, 76, 0.499); */
    border-left: 8px solid rgb(9, 255, 0);
}

.result-container .final-result.SUSPICIOUS {
    background-image: linear-gradient(90deg, rgba(255, 238, 0, 0.499), transparent);
    /* background-color: rgba(255, 238, 0, 0.499); */
    border-left: 8px solid rgb(255, 234, 0);
}